
ccgsl additions.txt~

algorithm_tests/CMakeLists.txt~

CMakeLists.txt~

README~

documentation/doc.aux

documentation/doc.log

documentation/doc.synctex.gz

documentation/doc.tex~

python_visualize/constants.pyc

.gitignore~

python_visualize/ionization_losses

python_visualize/read_binary.pyc

python_visualize/output.txt

python_visualize/tst

TODO.txt~

questions for dwyer.txt~

project ideas.txt~

python_visualize/__pycache__/constants.cpython-35.pyc

python_visualize/__pycache__/read_binary.cpython-35.pyc

python_visualize/output

python_visualize/output

documentation/docdfsafd.pdf

algorithm_tests/python_viewing_scrips/brem_test_out

algorithm_tests/python_viewing_scrips/read_binary.pyc
